body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  font-size: 14px;
  line-height: 1em;
}

.weather-app {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

ul {
  list-style: none;
}
